<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipetCat</title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascript/client.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body data-spy="scroll" data-target="ol" data-offset="50">
    <nav id="nav" class="navbar navbar-inverse nav bar-top">
      <p id="nav" class="navbar-text navbar"><a href="#" class="navbar-link"></a></p>
      <p id="fridge" class="navbar-text navbar"><a href="#" class="navbar-link">Fridge</a></p>
      <p id="pantry" class="navbar-text navbar"><a href="#" class="navbar-link">Pantry</a></p>
      <p class="navbar-text navbar"><a href="#" class="navbar-link">Log in</a></p>
      <p class="navbar-text navbar"><a href="#" class="navbar-link">Log out</a></p>
    </nav>
  </body>
  <div>
    <label for="recipe-q"></label>
    <input id="recipe-q" type="text" name="q" value="">
    <input id="recipe-q-button" type="button" name="name" value="Search">
  </div>
</html>